{%extends "base.html"%}

{%block title%}Skills and Certifications{%endblock%}

{%block content%}
<br>
<div id="skills">
<h3 class="display-5">Skills and Certifications</h3>
<table class="table table-hover ">
    <tr>
        <td>
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Operating Systems</div>
                    <div class="card-body">
                        <ul>
                            <li>Windows (Advanced)</li>
                            <li>Linux (Intermediate)</li>
                        </ul>
                    </div>
            </div>
        </td>
        <td>
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Methodologies</div>
                    <div class="card-body">
                        <ul>
                            <li>ITIL Foundations V3 Certified</li>
                            <li> <a href="https://www.udemy.com/certificate/UC-30RIXWNT/" target="_blank">Agile</a></li>
                            <li>DevOps</li>
                            <li>SDLC</li>
                            <li>OOP</li>
                        </ul>
                    </div>
            </div>
        </td>        
        <td>
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Tools</div>
                    <div class="card-body">
                        <ul>
                            <li><a href="https://www.udemy.com/certificate/UC-T1IKZZSJ/" target="_blank">Jenkins</a></li>
                            <li>Software Development Cycle tools</li>
                            <li>Office</li>
                            <li>HP Service Manager</li>
                        </ul>
                    </div>
            </div>
        </td>      
    </tr>
    <tr>
        <td>
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Databases</div>
                    <div class="card-body">
                        <ul>
                            <li>SQL</li>
                            <li>Oracle</li>
                            <li>Basic knowledge on MongoDB</li>
                            <li>Store procedures, triggers and complex queries</li>
                        </ul>
                    </div>
                </div> 
        </td>
        <td>
                <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header">Programming Languages and Web Technologies</div>
                        <div class="card-body">
                            <ul>
                                <li>Java 6 Certified Programmer</li>
                                <li>Python (pandas, flask, selenium)</li>
                                <li> <a href="https://www.udemy.com/certificate/UC-YOMFWLPP/" target="_blank">JavaScript</a></li>
                                <li> <a href="https://www.udemy.com/certificate/UC-JSKIWBWM/" target="_blank">Node.js</a> </li>
                                <li>Express.js</li>
                                <li>Vue.js</li>
                                <li>Strong knowledge on Sharepoint customization and workflows</li>
                                <li>JSON</li>
                                <li>Amazon Web Services</li>
                            </ul>
                        </div>
                </div> 
        </td>
        <td>
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Languages</div>
                    <div class="card-body">
                        <ul>
                            <li>Spanish - Mother tongue</li>
                            <li>English - Fluent 90%</li>
                        </ul>
                    </div>
            </div> 
        </td>
    </tr>
</table>
</div>
{%endblock%}